@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
body {
    background-color: #7bf8af;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
    color: white;
    font-weight: normal;
    
}
h2 {
    font-family: 'idroid';
    color: green;
}
h3 {
    font-family: 'idroid';
    
    color: green;
}
header {
    background-image: linear-gradient(to top, rgb(4, 78, 4), #49fa98);
    padding: 10px;
    margin: 0px;
}
header > p {
    color: white;
    text-align: center;
    font-size: 18px;
}
main {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-top: 0px;
    box-shadow: 1px 1px 2px 2px #0000005b;
    max-width: 1000px;
}
a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 60px;
}
nav > a:hover {
    background-color: aqua;
    padding: 4px 8px 4px 8px;
    text-decoration: underline;
    color: blue;
    border-radius: 4px;
}
article {
    background-color: #83f3b57c;
    padding: 0px 10px;
    margin: 0px 15px 0px 15px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.301);
    border-radius: 15px;
}
article > h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    color: white;
    padding: 7px;
    margin: 0px -10px;
    border-radius: 15px 15px 0px 0px;   
}
section {
    background-color: green;
    padding: 15px 100px 15px 100px;
    margin: 0px -20px 15px -20px;
}
footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 7px;
}
footer > p {
    padding: 1px;
}
.basico {
    font-weight: bold;
}
.cor {
    color: green;
    font-weight: bold;
}
.degrade {
    background-image: linear-gradient(to left, rgb(132, 238, 132), rgb(227, 247, 227) );
}
.duro {
    background-color: green;
}
.none{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-weight: bold;
}
div {
    display: inline-block;
    margin-right: 80px;
  }
  dl ::before {
    content: '✔ ';
  }
.external::after{
    content: ' 🔗';
}
picture, img {
    margin: auto;
    padding: 50px 0px 50px 0px;
}
  
